In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../datos/igj-autoridades.csv')
df.head()

,numero_correlativo,apellido_nombre,tipo_administrador,descripcion_tipo_administrador,tipo_documento,descripcion_tipo_documento,numero_documento
0,44,"ALDAZABAL, PABLO MANUEL",A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,10134086
1,60,"ALVAREZ, HORACIO RAUL",S,SOCIO,1,DOCUMENTO NACIONAL DE IDENTIDAD,10260149
2,60,"ALVAREZ, LUIS ENRIQUE",S,SOCIO,1,DOCUMENTO NACIONAL DE IDENTIDAD,11499344
3,60,ALVAREZ HORACIO RAUL,A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,10260149
4,60,ALVAREZ LUIS ENRIQUE,A,AUTORIDAD,1,DOCUMENTO NACIONAL DE IDENTIDAD,11499344

In [3]:
df_limpio = df.drop_duplicates('numero_documento')
df_limpio.shape

(628776, 7)

In [5]:
len(df_limpio['numero_documento'].unique()), len(df['numero_documento'].unique())

(628776, 628776)

In [7]:
df_limpio.to_csv('../../datos/igj-autoridades_unicos.csv', index=False)